body{
    margin: 0;
    padding: 0;
}
#parentDiv{
    display: flex;
    justify-content: space-between;
}
#delBtn{
    margin-left: 20px;
    background-color: black;
    color: whitesmoke;
}
#newDiv{
    margin-top: 25px;
}
#newSpan{
    font-size: 30px;
    font-style: italic;
}

